/**************** HTML tags first + error classes *************/

h1{ text-align: center;
    background-image: url(./images/arch.jpg);
    /*background-color: #03a9f4;*/
    margin: 0 0 30px 0;
    height:  45px;
    padding: 20px;}

body{   width: 100%;
        margin: 0px;
        padding: 0px;
        background-color: lightgrey;
        background-repeat: no-repeat;
        background-position: 100% 15%;
        background-size: cover;}

div .error{ float: right;
            color: red;}

form .error{color: red;
            text-align: center;
            padding: 3px;}

form{width: 40%;}
    
form div {position: relative;}

p{margin: 10px;}

label{  display: block;
        font-size: 20px;}

input[type=text]{   width: 100%;
                    font-size: 20px;
                    padding: 5px;
                    font-family: sans-serif;
                    margin: 5px 5px 5px 5px;}

textarea{   width: 100%;
            height: 400px;
            font-size: 17px;
            font-family: sans-serif;
            padding: 5px;
            margin: 5px 5px 5px 5px;}

hr{ margin: 10px;
    color: gray;
    width: 85%;}

footer{ margin: 5px;
        padding: 5px;
        text-align: center; }
        
/**************** BOX *************/

.box .input_box input{  width: 170%;
                        padding: 10px 0;
                        font-size: 16px;
                        color: #fff;
                        letter-spacing: 1px;
                        margin-bottom: 30px;
                        border: none;
                        border-bottom: 1px solid;
                        outline: none;
                        background: transparent;}

.box .input_box .error{ position: relative;
                        left: 150%;
                        color: red;}

.box .input_box label{  position: absolute;
                        top: 0;
                        left: 0;
                        padding: 10px 0;
                        font-size: 16px;
                        color: #fff;
                        letter-spacing: 1px;
                        pointer-events: none;
                        transition: .5s;}

.box .input_box input:focus ~ label,
.box .input_box input:valid ~ label{top: -18px;
                                    left: 0;
                                    color: #03a9f4;
                                    font-size: 12px;}

.box input[type="submit"]{  background: transparent;
                            border: none;
                            outline: none;
                            color: #fff;
                            background: #03a9f4;
                            padding: 10px 20px;
                            cursor: pointer;
                            border-radius: 5px;
                            text-align: center;}

.box{   position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 30%;
        padding: 40px;
        background: rgba(0,0,0,.8);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.3);
        border-radius: 10px;}

.box h2{margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;}

/**************** Submit *************/

.submit:hover{color: black;}

.submit {   position: relative;
            left: 40%;
            background: transparent;
            border: none;
            outline: none;
            color: #fff;
            background: #0055ff;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            margin: 5px 5px 5px 5px;}


/**************** Login *************/

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;}

.login-link{
    color: #0055ff;
    text-decoration: none;
}

.logpos{
    text-align: right;
    margin: 0 15px 0 0;
    padding: 5px 5px 5px 5px;
}

.login-link:hover {
    text-decoration: underline;
}

/**************** Others *************/

.replace{
    margin: 20px 20px 20px 20px;
}


.a1{color: #55a5f5;
    text-decoration: none;
    font-family: 'Spirax', cursive;
    font-size: 210%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}

#a2 {
    float: right;
    color: red;
    margin: 20px;
    font-size: 17px;
}

.content  {
    width: 70%;
}

.content_to_post{
    margin: 20px 20px 20px 20px;   
}
.content-subject-all {
    font-weight: bold;
    font-size: 20px;
    color: blue;
    position: relative;
    padding: 3px;
}

.content-subject {
    font-style: italic;
    color: black;
}

.content-created {
    font-style: italic;
    color: black;
}

.line {
    width: 50%;
    float: left;
}


.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;

    text-decoration: none;
    color: #333;
}

.post-title:visited {
    color: #333;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
}

.age {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 12px;
}


/*
h2 {
    width: 70%;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}*/

/*input[type=password] {
    width: 600px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}*/

/*.login-link:visited {
    color: black;
}*/