{% extends "base.html" %}

{% block cont %}

	<body>
		<div class="box">
			<h2>Login</h2>
	    	<form method="post">
	    		<div class="input_box">
		            <input type="text" name="username" value="{{ username }}"  required="">
			        <label>
			        	<div>
			        		Username
			        	</div>
			        </label>  
		            	<div class="error">
		            		{{ usernameerror }} 
		            	</div>	
			    </div>
			    <div class="input_box">
		            <input type="password" name="password" value="{{ password }}"  required=""> 
		            <label>
			        	<div>
			        		Password
			        	</div>
			        </label>  
		            	<div class="error">
		            		{{ passworderror }} 
		            	</div>	
				</div>
      				<input type="submit" value="Submit" name="" >
		    </form>
		</div>
	</body>

{% endblock %}
