{% extends "base.html" %}

{% block cont1 %}
	<header>
		<div class="logpos">
			<a class="login-link" href="/newpost">Add new post</a>
			|
			<a class="login-link" href="/logout">Logout</a>
		</div>	
	</header>
{% endblock %}

{% block cont %}
				<hr>
				<div class="content">					
					<div class="content-subject-all">
						<div class="line">
							Subject: <span class="content-subject">{{ content.subject }}</span>
						</div>
						<div>	
					 		Posted: <span class="content-created">{{ content.created.strftime('%Y-%m-%d %H:%M %a') }}</span> 
					 	</div>
					</div>
					<p>{{ content.content }}</p>					
				</div>

				<footer>
					query {{ time_elapsed }} seconds ago
				</footer>
{% endblock %}